In [1]:
import pandas as pd
import numpy as np
import math
from sklearn.preprocessing import MinMaxScaler, StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

In [5]:
spam_data = pd.read_csv('essays.csv', header=None)
 
X, y = spam_data.values[:, 1:], spam_data.values[:, 0]

normalizer = MinMaxScaler()
X_real_norm_np = normalizer.fit_transform(X)


# splitting data
from sklearn.model_selection import KFold
kf = KFold(n_splits=5, random_state=123, shuffle=True)
lr = LogisticRegression()
quals = []

dats = kf.split(X)


all_coefs = []
errs = []
for data in dats:
    tr_inds = data[0]
    test_inds = data[1]
    X_tr = np.array([X_real_norm_np[i] for i in tr_inds])
    X_test = np.array([X_real_norm_np[i] for i in test_inds])
    y_tr = np.array([y[i] for i in tr_inds])
    y_test = np.array([y[i] for i in test_inds])
    lr = LogisticRegression(max_iter=1000)
    lr = lr.fit(X_tr, y_tr)

    preds = lr.predict(X_test)
    error = 1 - metrics.accuracy_score(y_test, preds)
    
    coefs = enumerate(lr.coef_[0])
    all_coefs.append(coefs)
    errs.append(error)
    print('Ошибка =', error)

print('Средняя ошибка =', sum(errs) / len(errs))
    
from collections import defaultdict as dd
dick = dd(list)

for coefs in all_coefs:
    for coef in coefs:
        dick[coef[0]].append(coef[1])
        
weights = []
for key, value in dick.items():
    ave = sum([math.fabs(i) for i in value]) / len(value)
    weights.append((key, ave))

# weights = sorted(weights, key=lambda x: x[1], reverse=True)
# s = sum([y[1] for y in weights])
# weights = [(x[0], round(x[1] / s * 100, 2)) for x in weights]
pd.DataFrame(weights)

Ошибка = 0.3413173652694611
Ошибка = 0.28742514970059885
Ошибка = 0.30722891566265065
Ошибка = 0.34337349397590367
Ошибка = 0.24698795180722888
Средняя ошибка = 0.3052665752831686

     0         1
0    0  0.142371
1    1  0.244468
2    2  0.140090
3    3  0.415921
4    4  0.502323
5    5  1.373518
6    6  0.072897
7    7  0.415752
8    8  0.558696
9    9  0.330098
10  10  0.126330
11  11  0.286895
12  12  0.208829
13  13  0.251044
14  14  0.893080
15  15  0.401840
16  16  0.150438
17  17  0.127253
18  18  0.119902
19  19  0.252360
20  20  0.334939

In [6]:
t_reg = pd.read_csv('list5.csv', header=None)
t_reg

        0     1
0   96.50  0.14
1   49.01  0.33
2   89.29  0.56
3   39.35  0.33
4   37.11  0.12
5   42.66  0.24
6   65.22  0.14
7   31.48  0.42
8   41.44  0.89
9   83.84  1.37
10  23.99  0.13
11  40.69  0.21
12  42.07  0.25
13  26.06  0.15
14  53.94  0.40
15   9.93  0.50
16  18.86  0.07
17   3.81  0.42
18  12.26  0.29
19  45.62  0.25
20  41.31  0.13

In [7]:
normalizer = MinMaxScaler()
norm = normalizer.fit_transform(t_reg)
pd.DataFrame(norm)

           0         1
0   1.000000  0.053846
1   0.487647  0.200000
2   0.922214  0.376923
3   0.383429  0.200000
4   0.359262  0.038462
5   0.419139  0.130769
6   0.662531  0.053846
7   0.298522  0.269231
8   0.405977  0.630769
9   0.863416  1.000000
10  0.217715  0.046154
11  0.397885  0.107692
12  0.412774  0.138462
13  0.240047  0.061538
14  0.540835  0.253846
15  0.066027  0.330769
16  0.162369  0.000000
17  0.000000  0.269231
18  0.091164  0.169231
19  0.451073  0.138462
20  0.404574  0.046154